/* .return-focus {
  width: 60%;
  height: 75%;
  position: absolute;
  align-items: center;
  padding: 10px;
  margin: 0;
  top: 100px;
  left: 20%;
  background-color: var(--secondary);
  color: var(--text);
}

.modal-container {
  width: 500px;
}

.btn-modal {
  right: 0;
} */
