:root {
  /*Light mode*/
  --primary-light: rgb(218, 20, 158);
  --secondary-light: rgb(49, 210, 255);
  --accent-light: rgb(82, 230, 23);
  --background-light: #e6ab09;
  --text-light: rgb(122, 4, 104);

  /*Dark mode*/
  --primary-dark: #f836ff;
  --secondary-dark: #7639fa;
  --accent-dark: #29e6ff;
  --background-dark: #232323;
  --text-dark: #dfdfdf;
}

body[data-theme="light"] {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --background: var(--background-light);
  --text: var(--text-light);
}

body[data-theme="dark"] {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --background: var(--background-dark);
  --text: var(--text-dark);
}

* {
  font-family: Quicksand, sans-serif;
}
body {
  background-color: var(--background);
}

.nav-bar {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  box-shadow: 0 5px 10px var(--primary);
}

.toggle-btn {
  background-color: var(--primary);
  color: var(--background);
  border: var(--accent);
  width: 50px;
  font-weight: bold;
}

.toggle-btn:hover {
  color: var(--accent);
}

a {
  text-decoration: none;
  color: var(--text);
  padding: 10px;
  font-weight: bold;
}

a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.tiles-container {
  background-color: var(--primary);
  padding: 5px;
  width: 60%;
  position: absolute;
  align-items: center;
  margin-top: 5%;
  margin-left: 20%;
}

.ul-tiles {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: auto;
}
.ul-tiles > li {
  border: 1px solid black;
}

.li-tiles {
  background-color: var(--accent);
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 200px;
}

.animation-tile {
  background-color: var(--primary);
  padding: 10px;

  text-align: center;
  width: 250px;
  height: 200px;
}

.coming-soon-tile {
  background-color: var(--secondary);
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 200px;
}
