:root {
  /*Light mode*/
  --primary-light: rgb(218, 20, 158);
  --secondary-light: rgb(49, 210, 255);
  --accent-light: rgb(82, 230, 23);
  --background-light: #e6ab09;
  --text-light: rgb(107, 55, 0);

  /*Dark mode*/
  --primary-dark: #f836ff;
  --secondary-dark: #7639fa;
  --accent-dark: #29e6ff;
  --background-dark: #232323;
  --text-dark: #dfdfdf;
}

body[data-theme="light"] {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --background: var(--background-light);
  --text: var(--text-light);
}

body[data-theme="dark"] {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --background: var(--background-dark);
  --text: var(--text-dark);
}

* {
  font-family: Quicksand, sans-serif;
}
body {
  background-color: var(--background);
}

.nav-bar {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  border-bottom: 1px solid var(--secondary);
}

.toggle-btn {
  background-color: var(--primary);
  color: var(--background);
  border: var(--accent);
  width: 50px;
  font-weight: bold;
}

.toggle-btn:hover {
  color: var(--accent);
}

a {
  text-decoration: none;
  color: var(--text);
  padding: 10px;
  font-weight: bold;
}

a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.tiles-container {
  width: 60%;
  position: absolute;
  align-items: center;
  top: 15%;
  left: 20%;
  padding: 10px;
  bottom: 20%;
}

.ul-tiles {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: 0 auto;
}
.ul-tiles > li {
  border: 1px solid black;
}

.li-tiles {
  background-color: var(--accent);
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 200px;
}

.animation-tile {
  background-color: var(--primary);
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 200px;
}

.coming-soon-tile {
  background-color: var(--secondary);
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 200px;
}

.pages-container {
  width: 60%;
  height: 75%;
  position: absolute;
  align-items: center;
  padding: 10px;
  margin: 0;
  top: 100px;
  left: 20%;
  background-color: var(--secondary);
  color: var(--text);
}

.projects > h3,
p,
li {
  padding: 5px;
}

.pages-container > .contact-box {
  margin: 1%;
  padding-left: 2%;
  width: 90%;
  max-height: 500px;
}

.contact-box > textarea {
  margin-top: 5px;
  width: 100%;
  max-height: 40vh;
}
.contact-box > button {
  float: right;
  padding: 5px;
  margin: 10px;
  left: 15px;
  border-style: none;
  background-color: var(--primary);
  color: var(--accent);
}

.footer > h5 {
  background-color: var(--background);
  color: var(--text);
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0px;
  right: 10px;
  margin-bottom: 0;
}
