.animationContainer {
  position: relative;
  width: 100%; /* Adjusted to fill the parent */
  height: 100%; /* Adjusted to fill the parent */
  overflow: hidden; /* This will prevent any overflow */
}

.animationContainer:hover .eyes {
  opacity: 1; /* Show on hover */
  animation: curtainAnimation 4s ease-in-out;
}

.animationContainer:hover .snooze {
  opacity: 1; /* Show on hover */
  animation: snoozeAnimation 4s ease-in-out;
}

.eyes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.snooze {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0.5);
  filter: invert(100%);
}

@keyframes curtainAnimation {
  0%,
  20% {
    clip-path: inset(0% 0% 0% 0%); /* Full eyes visible */
  }
  25% {
    clip-path: inset(25% 0% 25% 0%); /* Start closing curtains */
  }
  35%,
  65% {
    clip-path: inset(50% 0% 50% 0%); /* Eyes completely hidden */
  }
  70% {
    clip-path: inset(25% 0% 25% 0%); /* Start opening curtains */
  }
  75%,
  100% {
    clip-path: inset(0% 0% 0% 0%); /* Full eyes visible */
  }
}

@keyframes snoozeAnimation {
  0%,
  34% {
    opacity: 0;
    transform: scale(0.5); /* Stay small and invisible */
  }
  35% {
    opacity: 1;
    transform: scale(0.5); /* Become visible and start small */
  }
  50% {
    transform: scale(1); /* Grow larger */
  }
  65% {
    opacity: 1;
    transform: scale(1); /* Stay large and visible */
  }
  66%,
  100% {
    opacity: 0;
    transform: scale(0.5); /* Shrink back down and become invisible */
  }
}
